<h1>Books</h1>

<% @books.each do |book| %>
<div>
  <p><%= image_tag book.user.get_image(100,100) %></p><br>
     <%= book.user.name %></p>
  <p>Title</a>
  <sapn><%= link_to book.title, book_path(book.id) %></sapn>
  <p>Opsioin:<%= book.body %></p>
</div>
<% end %>
